<launch>
    
    <!-- Start simulated world as empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
        <arg name="gui" value="true"/>
    </include>

    <include file="$(find robot_pkg)/launch/load_irb120.launch"/>

    <!-- Spawn robot model -->
    <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_pkg)/urdf/irb120.urdf -urdf -x 0.1 -y 0.1 -z 0 -model irb120" /> -->

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -x 0.1 -y 0.1 -z 0 -model irb120" />
     
      
    <!-- Convert joint states to TF transforms fro rviz, etc -->
 <!--   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
-->
    <!-- Load joint state controller -->
    <rosparam file="$(find robot_pkg)/config/joint_state_controller.yaml" command="load" />
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" />

    <!-- Load arm controller -->
    <rosparam file="$(find robot_pkg)/config/arm_controller.yaml" command="load" />
    <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" />

</launch>

